<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e2c6dd85-325f-4bce-9963-6780d5e9f5e5/resourceGroups/MLModel1WebApi120211115210524ResourceGroup2/providers/Microsoft.Web/sites/MLModel1WebApi120211115210524</ResourceId>
    <ResourceGroup>MLModel1WebApi120211115210524ResourceGroup2</ResourceGroup>
    <ApiResourceId>/subscriptions/e2c6dd85-325f-4bce-9963-6780d5e9f5e5/resourceGroups/MLModel1WebApi120211115210524ResourceGroup2/providers/Microsoft.ApiManagement/service/MLModel1WebApi1api/apis/MLModel1WebApi1</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mlmodel1webapi120211115210524.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>5e9d395d-96c0-45ad-906e-6541e3c02d2e</ProjectGuid>
    <MSDeployServiceURL>mlmodel1webapi120211115210524.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MLModel1WebApi120211115210524</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$MLModel1WebApi120211115210524</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>